h4{
    color: green;
}

button{
    background-color: red;
    color: white;
    border: none;
    height: 30px;
    border-radius: 5px;
    transition: all 300ms;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
    background-color: rgb(196, 5, 5);
}

input{
    margin-top: 1rem;
    margin-bottom: 1rem;
}